import { FC } from 'react'

import s from './{{dashedcase name}}.module.{{#if hasSass}}scss{{else}}css{{/if}}'

type {{pascalcase name}}Props = {
  
}

export const {{pascalcase name}}: FC<{{pascalcase name}}Props> = () => {
  return (
    <div>

    </div>
  )
}
